@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    padding-top: 4em;
    scroll-behavior: smooth;
}

.marquee {
    overflow: hidden;
    
  }
  

.marquee2 {
    overflow: hidden;
    
  }
  
  .marquee-content {
   
    animation: marquee 20s linear infinite;
  }
  .marquee-content2 {
   
    animation: marquee 20s linear infinite;
  }
  
  @keyframes marquee {
    from  { transform: translateX(0%); }
    to { transform: translateX(-100%); }
  }
  
  @keyframes marquee2 {
    from  { transform: translateX(100%); }
    to { transform: translateX(-100%); }
  }
  